/* You can add global styles to this file, and also import other style files */
body{
    background-color: #478ea3;
}


input.form-control,input.form-control:focus{
    background-color: #ffc107;
    color: black;
    border-color: black;
    border-radius: 0px;
    border-width: 2px;
}

input.form-control:focus{
    box-shadow: none;
    border-bottom-color: black;
    text-align: center;
}

button[type=submit].btn{
    border-radius: 20px;
    background-color: #000;
    color: #fff;
}

div.form-group label{
    text-align: center;
    color: black;
    font-weight: bold;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #fa0820;
	padding-left: 1px;
}

#toast-container > div {
    opacity:1;
}

form{
    text-align: center;
    max-width: 500px;
    margin: auto;
}

div.side-header{
    text-align: center;
    border:1px solid black;
}